<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/3fa7b58a9a.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="container px-4 px-lg-5 mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('video_index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ path('user_index') }}">Tutubeurs</a>
                <a class="nav-item nav-link active" href="{{ path('video_discovery') }}">Discover</a>
                <a class="nav-item nav-link" href="{{ path('video_followed') }}">Follows</a>
                <a class="nav-item nav-link" href="{{ path('video_trend') }}">Trend</a>
                {% if app.user %}
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <a class="nav-item nav-link">|</a>
                        <a class="nav-item nav-link" href="{{ path('admin_video') }}">Admin videos</a>
                        <a class="nav-item nav-link" href="{{ path('admin_user_index') }}">Admin users</a>
                    {% endif %}
                {% else %}
                    <a class="nav-item nav-link" href="{{ path('app_register') }}">Register</a>
                    <a class="nav-item nav-link" href="{{ path('app_login') }}">Login</a>

                {% endif %}



            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
